<!DOCTYPE html>
<html>
<head>
  <title>Resource Management</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/register.css">
</head>
<body>
  <nav>
    <h1 class="title">Resource Management</h1>
    <div class="nav-items">
      <a href="{% url 'dashboard' %}">Dashboard</a>
      <a href="/resources">Resources</a>
      {% if request.path == "/accounts/login/" %}
      <a href="{% url 'register' %}">SignUp</a>

     {% elif request.path == "/accounts/register/" %}
     <a href="{% url 'login' %}">SignIn</a>
     {% elif request.path == "/resources" %}
     <a href="{% url 'logout' %}">Sign Out</a>
     {% elif request.path == "/accounts/dashboard/" %}
     <a href="{% url 'logout' %}">Sign Out</a>
      {% endif %}

      
      
    </div>
    <!-- <div class="menu">
      <div class="list"  id="list"><svg onclick="open_list()" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg></div>
      <div class="cancel" id="cancel" >
        <svg onclick="close_list()" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>
      </div>
      <div class="list_menu" id="list_menu">
        <div class="signup-innerline">

          <ul>
            <a href=""><li>Dashboard</li></a>
            <a href=""><li>Resource</li></a>
            <a href=""><li>SignOut</li></a>
          </ul>
        </div>
      </div>
    </div> -->
  </nav>