{% extends 'base.html' %}



{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section>

    
    <div class="sign-in-container">
          <div  class="sign-in">
          <h4 >Reset Password</h4>
          {% include 'includes/alert.html' %}
          <form action="{% url 'resetPassword' %}" method="POST">
            {% csrf_token %}
              <div >
                <input type="password"  placeholder="Create Password" name="password">
              </div> <!-- form-group// -->
              <div>
                <input type="password"  placeholder="Confirm Password" name="confirm_password">
              </div> <!-- form-group// -->
              
              
              <div class="sign-in-submit">
                  <button type="submit" > Reset  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
        
    
 
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
{% endblock content %}
    